.container {
  padding: 20px;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 8px 16px;
  color: var(--white);
  text-shadow:
    0 0 5px #00baff,
    0 0 10px #00baff,
    0 0 20px #00baff,
    0 0 40px #00baff,
    0 0 80px #00baff;
  transition:
    color 0.3s,
    text-shadow 0.3s;
}
.link:hover,
.link:focus {
  color: #00baff;
  text-shadow:
    0 0 5px #00baff,
    0 0 10px #00baff,
    0 0 20px #00baff,
    0 0 40px #00baff,
    0 0 80px #00baff;
}
