.loadMoreBtn {
  border: 1px solid rgba(71, 84, 103, 0.2);
  border-radius: 200px;
  padding: 16px 30px;
  width: 145px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--main);
  /* margin: 0 auto; */
  /* margin-top: 50px; */
}
.loadMoreBtn:hover,
.loadMoreBtn:focus {
  border: 1px solid var(--button);
}
